/* ByteMazeHashim*/


body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #009688;
    margin-bottom: 10px; /* Adjust margin bottom of the text */
}

button {
    background-color: #009688; /* Same color as the text */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px; /* Adjust margin bottom of the button */
}

button:hover {
    background-color: #007a63; /* Darker shade of the same color on hover */
}
